.slider {
    display: block;

    &__item {
        display: block;
        &--cover {
            width: 100%;
            height: 550px;
        }
    }
}

.link {
    padding: 9px 18px;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    font-size: 18px;
}