.nav {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav_item {
    padding: 0 12px;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    line-height: 44px;
}

.active {
    font-weight: bold;
    color: #fd9b28;

    .pages {
        color: #fd9b28;
    }
}

.pages {
    text-decoration: none;
    color: black;
}


.nav_item {
    position: relative;
}



.dropdown {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px) rotateX(-15deg);
    transform-origin: top center;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
    z-index: 10;
    flex-direction: column;
}

.nav_item:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) rotateX(0deg);
}

.dropdown_item {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
    text-align: start;
    padding-left: 15px;
    &:hover {
        color: #0d6693;
        background-color: #f0f0f0;
    }
}