.services {
    padding: 120px 0;
    width: 100%;
    background-color: #F8FAFD;
}

.headerOfBullet {
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #000000;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: default;
}




.table {
    width: 99%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 9px 9px 0 0;
    overflow: hidden;
    text-align: start;
    border: 1px solid #6E7491;
    cursor: default;
    box-shadow: 0px 4px 4px 0px #00000017
}

.header {
    background-color: #0d6693;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 23px 20px 8px;
    border-top: 1px solid #6E7491;
}

.headerLg {
    background-color: #0d6693;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 23px 20px 8px;
    margin-left: 30px;
    border: 1px solid #6E7491;
}

.cell {
    padding: 13px 20px 13px 8px;
    border: 1px solid #6E7491;
    background-color: #ffffff;
    color: #717171;
}

.cellLast {
    padding: 13px 28px 20px 8px;
    border: 1px solid #6E7491;
    background-color: #ffffff;
    color: #717171;
}

.table tr:hover {
    background-color: #f1f1f1;
}