.services {
    margin-top: 60px;
    margin-bottom: 150px;

    &__header {
        font-size: 30px;
        font-weight: 700;
        line-height: 44px;
        text-align: center;
        color: #FD9B28;
    }
}

.mainDiv {
    box-shadow: 0px 6px 6px 0px #0000000D;
    border-radius: 5px;
}

.header {
    font-weight: 700;
    background-color: #0D6693;
    color: #ffffff;
    padding: 20px;
    margin: 0 0 15px 0;
    border-radius: 9px 9px 0 0;
    text-align: start;
    font-size: 20px;
}

.item {
    padding: 0px 0px 4px 20px;
}


.item p {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    padding-top: 9px;
    padding-right: 12px;
    margin: 0;
    cursor: default;
    overflow: auto;
    max-height: 200px;
}


.container {
    border-radius: 9px;
    background-color: #0D6693;
    display: flex;
    gap: 20px;

    &__options {
        display: flex;
        flex-direction: column;

    }

    &__option {
        padding: 10px 20px;
        background: #c7cdd9;
        color: #606e8d;
        border: none;
        cursor: pointer;
        text-align: left;
        transition: background-color 0.3s ease, color 0.3s ease;
    
        &:first-child {
          border-top-left-radius: 9px;
        }
    
        &:last-child {
          border-bottom-left-radius: 9px;
        }
    
        &:hover {
          background-color: #0d6693;
          color: #ffffff; /* Change color on hover */
        }
      }
    
      &__option.active {
        background-color: #0d6693;
        color: #ffffff; /* Active button text color */
      }


    &__infoarea {
        flex-grow: 1;
        padding: 10px;
        border-radius: 5px;
        background-color: #0D6693;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    &__info {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        white-space: pre-wrap;
        height: 100%;
        width: 100%;
        color: #ffffff;

        p {
            color:#ffffff;
        }
    }
}
